body {
  background-color: black;
  color: white;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}


.img-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  position: absolute;
  right: 150px;
  top: 200px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.buttons-container :focus{
  outline: none;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 16rem;
  height: 3rem;
  border-radius: 20px;
}

.red {
  background-color: rgb(176, 21, 21);
}

.green {
  background-color: green;
}

.purple {
  background-color: rgb(168, 42, 168);
}

.prevent-selection {
  user-select: none;
}

#car_img {
  max-width: 40%;
  display: block;
}

@media screen and (max-width: 500px) {

  /* Your styles for devices with width less than 400px go here */
  .img-container {
    align-items: flex-start;
    margin-top: 2rem;
    height: 40vh;
  }

  #car_img {
    max-width: 80vw;
  }

  .whole-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttons-container {
    width: 80vw;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
  }

  .btn {
    width: 100%;
    margin: 0.4rem;
    height: 2.4rem;
  }
}

.green:hover {
  background-color: rgb(0, 57, 0);
}

.red:hover {
  background-color: rgb(85, 0, 0);
}

.purple:hover {
  background-color: rgb(69, 0, 69);
}

#car_img {
  transition: transform 0.3s ease-in-out;
}



/* .shake {
  animation: shake 0.4s ease-in;
} */

/* @keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-12px);
  }

  60% {
    transform: translateX(7px);
  }

  75% {
    transform: translateX(-6px);
  }
} */
